# Port on which the Express server will listen
PORT=9999

# API key for authenticating requests to the NASA API
API_KEY=key

# Base URL for the NASA API
NASSA_API_URL=url

# Max 7 days
DATE_OFFSET=number

# Unique identifier used to integrate your application with Sentry
SENTRY_DSN=key
